/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _NAV 1
#define _NUM 2
#define _SYM 3

/ {
        chosen { zmk,matrix_transform = &five_column_transform; };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
//             | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P
   &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHFT F &kp G   &kp H &mt RSHFT J &mt RCTRL K &mt RALT L  &mt RGUI SEMI
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
       &kp ESC &lt _NAV SPACE &kp TAB  &lt _SYM RET &lt _NUM BSPC &kp DEL
                        >;
                };

                nav_layer {
// -----------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |LGUI |LALT |LCTRL|LSHFT|     |   | LFT | DWN |  UP | RGT |     |
// |     |     |     |     |     |   |HOME |PG_DN|PG_UP| END | INS |
//             |     |_____|     |   | ENT |     |     |
                        bindings = <
&none    &none    &none     &none     &none  &none     &none     &none     &none     &none
&kp LGUI &kp LALT &kp LCTRL &kp LSHFT &none  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &none
&none    &none    &none     &none     &none  &kp HOME  &kp PG_DN &kp PG_UP &kp END   &kp INS
                         &none &trans &none  &kp ENTER &none     &none
                        >;
                };

                num_layer {
// -----------------------------------------------------------------
// |  [  |  7  |  8  |  9  |  ]  |   |     |     |     |     |     |
// |  ;  |  4  |  5  |  6  |  =  |   |     |RSHFT|RCTRL|RALT |RGUI |
// |  `  |  1  |  2  |  3  |  \  |   |     |     |     |     |     |
//             |  '  |  0  |  -  |   |     |     |_____|     |
                        bindings = <
&kp LBKT  &kp N7 &kp N8 &kp N9 &kp RBKT      &none &none     &none     &none    &none
&kp SCLN  &kp N4 &kp N5 &kp N6 &kp EQUAL     &none &kp RSHFT &kp RCTRL &kp RALT &kp RGUI
&kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH      &none &none     &none     &none    &none
                &kp SQT &kp N0 &kp MINUS     &none &trans &none
                        >;
                };

                sym_layer {
// -----------------------------------------------------------------
// |  {  |  &  |  *  |  (  |  }  |   |     |     |     |     |     |
// |  :  |  $  |  %  |  ^  |  +  |   |     |RSHFT|RCTRL|RALT |RGUI |
// |  ~  |  !  |  @  |  #  |  \  |   |     |     |     |     |     |
//             |  (  |  )  |  _  |   |     |_____|     |     |
                        bindings = <
&kp LBKT  &kp AMPS &kp ASTRK &kp LPAR  &kp RBKT  &none  &none     &none     &none    &none
&kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS  &none  &kp RSHFT &kp RCTRL &kp RALT &kp RGUI
&kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE2 &none  &none     &none     &none    &none
                   &kp LPAR  &kp RPAR  &kp UNDER &trans &none     &none
                        >;
                };
        };
};

